
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #fff;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
            color: #333;
        }

        /* NAVBAR STYLES */
        nav {
            background-color: #333;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }


        .navbar-container {
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
        }



        .nav-links {
            display: flex;
            gap: 20px;
        }


        .nav-link {
            position: relative;
            color: white;
            text-decoration: none;
            padding: 12px 22px;
            margin: 0 8px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            transition: all 0.5s ease;
            transform-origin: center;
        }

        .nav-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 4px;
            height: 2px;
            width: 0%;
            background-color: #ff4081;
            transition: width 0.3s ease;
        }

        .nav-link:hover {
            color: #ffffff;
            font-size: 18px;
            transform: scale(1.05);
        }

        .nav-link:hover::after {
            width: 100%;
        }


        /* HAMBURGER MENU */
        .menu-toggle {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .menu-toggle div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 4px 0;
            transition: 0.4s;
        }

        /* MOBILE STYLES */
        @media (max-width: 768px) {
            .nav-links {
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                background-color: #333;
                flex-direction: column;
                align-items: center;
                display: none;
            }

            .nav-links.active {
                display: flex;
            }

            .menu-toggle {
                display: flex;
            }
        }
   